---
import { SITE } from 'astrowind:config';
---

<img
  src="/favicon.svg"
  alt={SITE?.name}
  class="self-center w-7 h-7 shrink-0"
  aria-hidden="true"
/>
<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-xl font-bold text-[var(--aw-color-text-heading)] whitespace-nowrap"
>
  {SITE?.name}
</span>
