---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<div class="border-t border-[var(--aw-color-border)]">
  {posts.map((post) => <Item post={post} />)}
</div>
